 body {
    background-color: salmon;
}

#AboutContain {
    background-color: white;
    margin-top: 2%;
    padding: 1%;
}

#containerTwo {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin: 2%;
    background-color:white;
    margin-left: 10%;
}

#ContainerContact {

    background-color: white;
    margin-top: 2%;

}

.card {
    padding: 1%;
    margin: 2%;
}

#AbtMeTxt {
 float: right;
} 
